/* Write your global styles here, in PostCSS syntax */
body {
  background-color: #212121;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
  transition: all;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}